header{
	background: url(../img/header.png);
	width: 1440px;
	height: 570px;
}
body{
	margin: 0;
}
.container{
	width: 1440px !important;
	height: 570px !important;
}
.logo{
	margin-left: 45px;
	margin-top: 30px;
}
.nav{
	display: flex;
	margin-left: 400px;
	margin-top: -110px;
}
.test:hover{
	background: #ffff66;
	transition: 1s;
}
.nav a:hover{
	text-decoration: underline;
	transition: 1s;
}
.nav a{
	color: white;
	text-decoration: none;
	font-size: 34px;
	margin-left: 40px;
	font-family: 'Rubik', sans-serif;
}
.nav a:nth-child(1){
	color: #ffff66;
}
.test{
	border: solid #ffff66;
	color: white;
	position: absolute;
	font-size: 40px;
	font-family: 'Rubik', sans-serif;
	text-decoration: none;
	padding: 20px;
	margin-left: 1125px;
	margin-top: -70px;
}
header h2{
	font-size: 100px;
	color: white;
	text-align: center;
	font-family: 'Rubik', sans-serif;

}
header h3{
	font-size: 50px;
	color: white;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	margin-top: -100px;
}
footer{
	background: url(../img/footer.png);
	width: 1440px;
	height: 316px;
}
.flex{
	display: flex;
}
.footer_ekology{
	color: #339966;
	font-family: 'Rubik', sans-serif;
	font-size: 35px;
	color: #78a178;
	margin-left: 8vw;
}.footer_nav{
	margin-top: 10px;
	margin-left: 240px;
}
.footer_nav img{
	margin-left: 30px;
}
.main1{
	width: 1150px;
	margin-left: 140px;
	box-shadow: -1px 1px 8px 0px rgba(34, 60, 80, 0.2);
	margin-top: -40px;
}
.aboutproject h2{
	font-size: 50px;
	font-family: 'Rubik', sans-serif;
	color: #595757;
	width: 40px;
	margin-left: 100px;
}
.aboutproject{
	padding-top: 100px;
	display: flex;
}
.aboutproject p{
	width: 650px;
	font-size: 36px;
	font-family: roboto;
	margin-left: 300px;
}
.slogan{
	margin-left: 100px;
	margin-right: 100px;
}
.slogan p{
	font-size: 70px;
	font-family: 'Rubik', sans-serif;
	color: #595757;
}
.slogan p:nth-child(2){
	text-align: center;
	margin-top: -50px;
	color: #6D854E;
}
.slogan p:nth-child(3){
	text-align: right;
	margin-top: -50px;
	color: #C0B912;
}
.ontology_title{
	font-size: 50px;
	font-family: 'Rubik', sans-serif;
	color: #595757;
	width: 600px;
	margin-left: 110px;
}
.ontology_line{
	position: relative;
	width: 1000px;
	margin-left: 70px;
}
.ball1{
	position: absolute;
left: 3.48%;
right: 93.08%;
top: 3.51%;
bottom: 56.74%;
width: 38.51px;
height: 40px;
background: #686666;
border-radius: 100%;
}
.ball2{
	position: absolute;
left: 37.41%;
right: 58.29%;
top: 2.29%;
bottom: 56.52%;

background: #6D854E;
width: 48.14px;
height: 50px;
border-radius: 100%;
}
.ball3{
	position: absolute;
left: 71.16%;
right: 23.68%;
top: .07%;
bottom: 56.3%;
width: 57.77px;
height: 60px;
background: #C0B912;
border-radius: 100%;
}
.ontology_line1{
	position: absolute;
width: 918px !important;
height: 7px;
left: 58px;
top: 27.5px;
width: 988px;

background: #4B4B4B;
transform: rotate(0.08deg);
z-index: -213;
}
.ontologu_divs{
	display: flex;
	padding-top: 100px;
	padding-left: 30px;
}
.ontology_div p{
	color: #7B9962;
	font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 57px;
display: flex;
align-items: center;
}
.ontology_div h3{
	font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 40px;
display: flex;
align-items: center;
margin-top: -50px;
color: #4B4B4B;
}
.ontology_more{

left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 31px;
line-height: 37px;
padding: 6px;
padding-left: 15px;
display: flex;
align-items: center;
background: rgba(255, 255, 255, 0.7);
border: 6px solid #6D854E;
box-sizing: border-box;
width: 220.78px;
border-radius: 50px;
margin-left: 770px;
color: black;
text-decoration:none;}
.famous1{
	width: 264.76px;
	margin-left: 25px;
}
.famous1 p{
font-family: 'Noto Sans HK', sans-serif;
font-size: 23px;
line-height: 30px;
display: flex;
align-items: center;
margin-top: -10px;
width: 225px;
}
.famous1 h3{
	font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 40px;
display: flex;
align-items: center;
margin-top: 0px;
}
.famous{
	display: flex;
	margin-top: 150px;
	transform: scale(0.87);
}
.famous1 h3:nth-child(2){
	width: 50px;
}
.famous2{
	width: 255px;
}
.famous2 h2{
	color: #686666;
	font-size: 54px;
	font-family: Rubik;
	text-align: right;
	padding-right: 10px;
	margin-top: -8px;
}
.famous2 p{
	font-size: 31px;
	color: #686666;
	font-family: cursive;ubik;
	text-align: right;
	padding-right: 10px;
}
.main2 h2{
	width: 1440px;
	height: 92px;
font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 70px;
text-align: center;
color: #686666;
}
.green1{
	color: #7B9962;
}
.yellow1{
	color: #C0B912;

}
.main2 iframe{
	margin-left: 92px;
	box-shadow: -1px 1px 8px 0px rgba(34, 60, 80, 0.2);
}
.main2 p{
	width: 400px;
	font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 43px;
text-align: center;
margin-top: 0px;
margin-left: 60px;
}
.main2{
	transform: scale(0.8);
	margin-left: 20px;
}
.aboutproject p{
	font-family: 'Rubik', sans-serif;
}